
body {
    background-color:rgb(221, 240, 240);
}

img{
    border-radius: 50%;
 
}
#jh{
    padding-top: 0cm;
}
hr{
    width: 8% ;
    border: 8px solid das;
    
}
#hj{
   display: inline-table;
   width: 30%;
table{
    text-align: left;
    text-align:top;
    margin-top: 0px:
    
}

